functions-framework
google-api-python-client
google-cloud-storage
google-cloud-error-reporting
pytest
google-auth-httplib2
cloud-sql-python-connector
google-auth
cloud-sql-python-connector
SQLAlchemy
python-tds
sqlalchemy-pytds
